h1 {
    color: #cbc8d8;
    font-family: 'Lato', sans-serif;
    font-size: 5vmax;
    font-weight: 100;
    font-style: normal;
    line-height: 1em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    display: inline-block;
    width: 100%;
    margin: 0;

}

h3 {
    color: #cbc8d8;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 66px;
}

h4 {
    color: #c2c2c2;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    letter-spacing: 2px
}

.nav-link {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.mid-box-email {
    width: 100%;
}

body,
html {
    height: 95%;
}

body {
    background-color: #1B1A17;
    background-position: top left;
    background-repeat: repeat;
}

.menu-top {
    margin-top: 20px;
}

.font-spacing {
    letter-spacing: 2px;
}

.mid-box {
    background-color: black;
    opacity: 80%;
    padding: 60px;
    border-radius: 21px;
    text-align: center;
    margin-bottom: 70px;
}

@media screen and (max-width: 576px) {
    .mid-box {
        margin-right: 10%;
        margin-left: 10%;
    }
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #cbc8d8;
}

.mid-box-email:hover {
    color: #7c69c9;
}

.icon-box {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
}

.icon {
    color: white;
    font-size: 40px;
    margin: 8px;
}

.icon:hover {
    opacity: .7;
    color: #cbc8d8;
}