h1 {
    color: #cbc8d8;
    font-family: 'Lato', sans-serif;
    font-size: 4.5vmax;
    font-weight: 100;
    font-style: normal;
    line-height: 1em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    display: inline-block;
    width: 100%;
    margin: 0;

}

h3 {
    color: #cbc8d8;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 66px;
    margin-top: 10px;
}

h4 {
    color: #c2c2c2;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    letter-spacing: 2px
}

.nav-link {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.mid-box-email {
    width: 100%;
}

body,
html {
    height: 95%;
}

body {
    background-color: white;
    background-position: top left;
}

.navbar {
    background-color: #011222;
}

.font-spacing {
    letter-spacing: 2px;
}

.mid-box-blue {
    padding: 5px;
    border-radius: 25px;
    margin-top: 100px;
    margin-bottom: 70px;
    background-color: #011222;
    margin-bottom: 70px;
    box-shadow: 7px 5px 30px rgba(0, 0, 0, 0.8);
}

.mid-box-gold {
    padding: 5px;
    border-radius: 20px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.mid-box {
    background-color: #011222;
    padding: 60px;
    border-radius: 15px;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .mid-box {
        margin-right: 10%;
        margin-left: 10%;
    }
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #cbc8d8;
}

.mid-box-email:hover {
    color: #7c69c9;
}

.resume {
    height: 100px;
    background-color: #011222;
}

.projects {
    height: 100px;
}

.contact {
    height: 100px;
    background-color: #011222;
}

.icon-box {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
}

.icon {
    color: white;
    font-size: 40px;
    margin: 8px;
}

.icon:hover {
    opacity: .7;
    color: #cbc8d8;
}